# This HTTPRoute routes traffic to the Pi-hole admin interface
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  annotations: {}
  name: prometheus-https-route
  namespace: monitoring
spec:
  hostnames:
  - prometheus.ashishverma.dev
  parentRefs:
  - name: envoy
    namespace: envoy-gateway-system
    sectionName: https
  rules:
  - filters:
    - requestRedirect:
        path:
          replaceFullPath: /query
          type: ReplaceFullPath
        statusCode: 302
      type: RequestRedirect
    matches:
    - path:
        type: Exact
        value: /
  - backendRefs:
    - group: ""
      kind: Service
      name: prometheus-k8s
      port: 9090
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
---
# Updated ClusterRole for Prometheus to scrape Kubernetes components
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-k8s
  labels:
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/instance: k8s
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: kube-prometheus
rules:
- apiGroups: [""]
  resources:
  - nodes
  - nodes/metrics
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups: ["discovery.k8s.io"]
  resources:
  - endpointslices
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - configmaps
  verbs: ["get"]
- nonResourceURLs: ["/metrics", "/metrics/slis"]
  verbs: ["get"]